.banner {
   background-color: #060527;
   color: white;
   margin-top: 48px;
}

.banner-button-row {
   display: flex;
   justify-content: end;
}

.banner-button {
   height: 115px;
   width: 115px;
   background-color: #FFCE84;
   margin: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 15px;
}

.highlighted {
   background-color: #FFA51E;
}

.banner-button p {
   margin: 0px;
   padding: 0px;
   color: black;
}

@media (min-width: 768px) {
   .banner {
      margin-top: 0px;
   }
}