.servizi {
   padding-top: 32px;
   padding-bottom: 32px;
}

.servizi-row {
   padding-top: 16px;
}

.card {
   background-color: #FFCE84;
   margin-top: 16px;
   border-radius: 15px;
   overflow: hidden;
   cursor: pointer;
}

.card-inner {
   min-height: 140px;
   display: flex;
   justify-content: left;
   align-items: center;
}

.card-image-area {
   max-width: 130px;
   height: 164px;
}


@media (min-width: 768px) {
   .servizi {
      padding-top: 64px;
      padding-bottom: 64px;
   }

   .servizi-row {
      padding-top: 48px;
   }

   .card-inner {
      justify-content: center;
   }

   .card-image-area {
      max-width: none;
      height: auto;
   }   
}