.topbar {
   background-color: #060527;
   color: white;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
}

.home-button {
   cursor: pointer;
}

a:link,
a:visited {
   color: white;
   text-decoration: none;
}

a:hover {
   color: #FFCE84
}

.home:hover {
   color: white;
}

.mobile {
   height: 48px;
}

.logo svg {
   width: 140px;
}

.burger {
   width: 24px;
   height: 24px;
   margin-right: 16px;
}

.burger {
   right: 0px;
   position: absolute;
}

h4 {
   margin-bottom: 0px !important;
}

@media (min-width: 768px) {
   .topbar {
      position: initial;
   }

   .desktop {
      height: 160px;
   }
}