.topbar {
   background-color: #060527;
   color: white;
}

a:link, a:visited {
   color: white;
   text-decoration: none;
}

a:hover {
   color: #FFCE84
}

.home:hover {
   color: white;
}

.desktop {
   height: 160px;
}

.mobile {
   height: 48px;
}