.topbar {
   background-color: #060527;
   color: white;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
}

a:link,
a:visited {
   color: white;
   text-decoration: none;
}

a:hover {
   color: #FFCE84
}

.home:hover {
   color: white;
}

.mobile {
   height: 48px;
}

@media (min-width: 768px) {
   .topbar {
      position: initial;
   }

   .desktop {
      height: 160px;
   }
}