.about-us {
   padding-top: 32px;
   padding-bottom: 32px;
}

@media (min-width: 768px) {
   .about-us {
      background-color: #060527;
      color: white;
      padding-top: 64px;
      padding-bottom: 64px;
   }
}